
{% extends "layout.html" %}

 {% block title %}
Home
 {% endblock %}

{% block main %} 
        <div class="projects">
            <div class="project-container">
                <h2>Leagues</h2>
                <ul>
                    <p id="line">_________________________</p>
                    <li>Add League</li>
                    
                    <!-- Add more projects as needed -->
                </ul>
            </div>
    
            <div class="project-container">
                <h2>Tournaments</h2>
                <p id="line">_________________________</p>
                <ul>
                    <li>Add Tournament</li>
                    <!-- Add more projects as needed -->
                </ul>
            </div>
        </div>
        

{% endblock %}
 