
{% extends "layout.html" %}

 {% block title %}
Home
 {% endblock %}

{% block main %} 
        <div class="projects">
            <div class="project-container">
                <h2>Leagues</h2>
                <form class="addbutton" action="/addleague" method="get">
                    <button type="submit">Add league</button>
                </form>
                <ul>
                    <p id="line">_________________________</p>
                    <li> </li>
                    
                    <!-- Add more projects as needed -->
                </ul>
            </div>
    
            <div class="project-container">
                <h2>Tournaments</h2>
                <form class="addbutton" action="/addtournament" method="get">
                    <button type="submit">Add tournament</button>
                </form>
                <p id="line">_________________________</p>
                <ul>
                    <li> </li>
                    <!-- Add more projects as needed -->
                </ul>
            </div>
        </div>
        

{% endblock %}
 