{% extends "layout.html" %}
{% block title %}
Add Match
{% endblock %}

{% block main %}
<div class="projects">
    <div class="window" style="padding:0px;">
        
        <div style="position: relative;">
            <div style="padding:0px;top: 0;display: flex; justify-content: space-evenly; align-items: center;">
                <div style="flex: 1; display: flex; justify-content: center; align-items: center;"> 
                    <div class="square1" style="opacity: 0.8; width: 100%; height: 150px;background: linear-gradient(to top left, white 0%, white 77%, {{match.team_home.home_kit_first}} 80%, {{match.team_home.home_kit_second}} 100%);">

                    </div>
                </div>

                <div></div>

                <div style="flex: 1; display: flex; justify-content: center; align-items: center;"> 
                    <div class="square3" style="opacity: 0.8; width: 100%; height: 150px; background: linear-gradient(to top right, white 0%, white 77%, {{match.team_away.away_kit_first  }} 80%, {{match.team_away.away_kit_second}} 100%);">
                        
                    </div>
                </div>
            </div>
            <div style="position: absolute; height:100%;top: 0; left: 0; right: 0; display: flex; justify-content: space-evenly; align-items: center; padding: 10px;">
                <h2 style="flex: 1; text-align: center;">{{ match.team_home.name }}</h2>

                <div style="display:flex; justify-content: center; align-items: center;">
                    <h1 style="width: 60px; text-align: center; font-weight: bold;">{{ match.scored_home }}</h1>
                    <h1 style="width: 20px; text-align: center; font-weight: bold;">-</h1>
                    <h1 style="width: 60px; text-align: center; font-weight: bold;">{{ match.scored_away }}</h1>
                </div>

                <h2 style="flex: 1; text-align: center;">{{ match.team_away.name }}</h2>
            </div>


        </div>
        <div class="tables">
            <table class="team-table1">
                <thead>
                </thead>
                <tbody>
                    {% for goal in match.goal_home %}
                    <tr>
                        {% if  goal.team_id == match.team_home_id %}
                            <td>{{goal.scorer.name }} {{goal.scorer.surname }}    {{ goal.amount }}&#9917;</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        

            <!-- Table for Team 2 players -->
            <table class="team-table2">
                <thead>
                </thead>
                <tbody>
                    {% for goal in match.goal_away %}
                    <tr>
                        {% if  goal.team_id == match.team_away_id %}
                            <td>&#9917;{{ goal.amount }}   {{goal.scorer.name }} {{goal.scorer.surname }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

  
</div>


<style>

    .square1{
        width: 50px; 
        height: 30px;
    }
    .square2{
        width: 30px;
        height: 30px;
    }
    .square3{
        width: 320px; 
        height: 30px;
    }


    .title{
        display:flex;
        justify-content:space-evenly;
        align-items: center;


       
    }

    .window{
        max-width: 1000px;
    }

    .numb-input{
        width:90px;
        height: 90px;
        padding: 5px;

        font-size: 60px;
        text-align: center;

    }

    .team-input{
        padding: 10px;
        width:200px;
        height: 50px;
        padding: 5px;

        font-size: 60px;
        text-align: center;
    }

    .tables{
        display:flex;
        justify-content:space-evenly;
        align-items: space-evenly;
    }
    
    /* Style the select dropdown */
    select {
        width: 250px;
        height: 50px;
        text-align:center;
        font-size: 25px;


        appearance: none; /* Remove default styling */
        -webkit-appearance: none; /* Remove default styling for Safari */
        -moz-appearance: none; /* Remove default styling for Firefox */
        background-color: transparent; /* Transparent background */
        border: none; /* Remove border */
        padding: 5px; /* Add padding for better appearance */
    /* Adjust font size */
        cursor: pointer; /* Show pointer cursor */
    }

    /* Style the select options */
    select option {
        background-color: #f8f8f8; /* Background color for options */
    }

    /* Style hover effect */
    select:hover {
        background-color: #e0e0e0; /* Change background color on hover */
    }

</style>

{% endblock %}
